body{
    background-color: #f8f8f8;
    font-size: 14pt;
    margin: 10px;
}
.container{
    width: 770px;
    margin: 0 auto;
}
header{
    padding-top:120px;
    box-sizing: border-box;
    height: 226px;
    position: relative;
    background-image: url(img/header.jpg);
}
.logo{
    float: left;
    margin-top: 10px;
    margin-left: 35px;
}
.logo img{
    height: 60px;
    width: auto;
}
.menu {
    font-size: 1.5rem;
}
header ul{
    float: right;
}
.menu li{
    background-color: #008000;
    border-radius: 5px;
    -moz-border-radius:5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    list-style-type: none;
    list-style-image: none;
    padding: 5px 10px;
    margin: 0 5px 0 0;
    float: left;
}
.menu li:hover{
    background-color: #609b60;
}
.menu a{
    list-style-type: none;
    list-style-image: none;
    text-decoration: none;
    color: white;

}
main{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    margin: 5px 0 5px 0;
}
h1{
    text-align: center;
}
footer{
    height: 100px;
    text-align: right;
    color: white;
    background-color: darkgray;
    padding-right:30px;
    padding-top: 30px;
    box-sizing: border-box;
}
h3{
    color: black;
    font-size: 1.28rem;
    font-weight: 400;
    background-color: #eaeaea;
}
.item_info{
    display: inline-block;
}
.item_info > a{
float: left;
margin-right: 16px;
}
.item_info input[type="button"]{
    width:120px;
    height:40px;
    font-size: 1.2rem;
    background: #008800;
    color: white;
    float: inline-end;
}
.item_info input[type="button"]:hover{
    background: #00CC00;
}
.item_info input[type="button"]:active{
    background: #008888;
}
.txtsmall{
    color: #707070;
    font-size: 1rem;
    font-style: italic;
    line-height: 16px;
}
.txtfull{
    color: #484343;
    font-size: 1.14rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.txtcharact li {
    display: list-item;
    list-style-image: url(img/check.png);
    color: #008000;
}
.txtcharact span{
    color: black;
    
}
.form_item {
    display: flex;
    flex-direction: column;
}
.form_item input::first-letter{
    text-transform:uppercase;
    color: black;
}
#email{
    color: blueviolet;
    background-color: #bbffd7;
}

.addres ul{
    margin: 10px 0;
    padding-inline-start: 0;
}
.addres li{
    list-style-type: none;
    
}
.form_item{
    font-size: 1.2rem;
}
.form_item textarea {
    height: 5rem;
}
.form_item input,.form_item textarea {
    display: block;
    width: 30rem;
    color: rgb(61, 61, 63);
    font-style: italic;
    font-weight: 200;
    font-size: 1.2rem;
    border-radius: 5px;
    -moz-border-radius:5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */

}
.form_item input, .form_item textarea {
  text-transform: capitalize;
}
div.l_item{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    display: flex;
    flex-flow: column;
    margin: 15px;
    align-items: center;
}
.lage_img{
    outline: 5px solid red;
}
.lage_img:hover{
    outline-style: none;
}
.txtfull::first-letter, .txtsmall::first-letter{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

.tab1 tr:first-child td{
    height: 50px;
}